<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div>
    <div>{% block content %}{% endblock %}</div>
    <div class="sidebar-nav">
        <nav>
            <p><a href="{% url 'index' %}">Главная</a></p>
            {% if user.is_authenticated %}
                <p><a href="">Личный кабинет</a></p>
            <p><a href="">Выход</a></p>
       {% else %}
            <p><a href="{% url 'login' %}">Вход</a></p>
       {% endif %}
            <p><a href="{% url 'registration'%}?next={{request.path}}">Регистрация</a></p>
       </nav>
    </div>
</div>
</body>
</html>